.table-lading-bill {
    .MuiBox-root {
        min-width: 0;
    }

    .MuiTableCell-root:last-child {
        white-space: nowrap;
    }

    .MuiTable-root {
        th,
        td {
            font-size: 16px;
        }
    }
}