.tomoni-custom-date-input {
    position: relative;
    max-width: 160px;

    &.invalid {
        margin-bottom: 20px;

        input.form-control {
            border-color: #f5222d;
        }
    }

    input.form-control {
        width: 100%;

        &::placeholder {
            font-size: 14px;
        }

        &.disabled {
            text-align: center;
        }
    }

    .local-err {
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        white-space: nowrap;
        font-size: 12px;
        color: #f5222d;
    }
}