.modal-not-enough-volume {
    font-size: 18px;

    .modal-body {
        text-align: center;
    }

    .btn-large {
        font-size: 18px;
        min-width: 120px;
    }

    .sku {

        &:nth-child(1) {
            color: #F64E60;
        }

        color: #3699FF;
        font-weight: bold;
    }
}