.sfa-item.card {
    font-size: 16px;
    max-height: 280px;

    .card-body {
        padding: 0;
        display: flex;
    }

    .sfa-info {
        padding: 15px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;

        .sfa-head {
            cursor: pointer;

            &:hover {
                .sfa-info--id {
                    color: #1890ff;
                    font-weight: 500;

                    .redirect-icon {
                        right: -100px;
                    }
                }
            }
        }

        .redirect-icon {
            position: absolute;
            top: 0;
            right: -26px;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;
            user-select: none;
        }

        &--id {
            font-size: 32px;
            position: relative;
            display: inline;
        }

        &--tracking, &--agency, &--arrival_date, &--lading-bills, &--invoices, &--shipping, &--coupon {
            font-size: 14px;
            color: #8c8c8c;

            b {
                color: #000;
            }
        }

        &--quantity-status {
            margin-left: 50px;
            font-size: 24px;
            font-weight: 500;
            margin-right: 25px;
        }

        &--suggest-shipment-method {
            position: relative;
            color: #8c8c8c;
            font-size: 14px;

            b {
                font-size: 32px;
                text-transform: uppercase;
                position: absolute;
                right: 10px;
                bottom: 0;
                line-height: 32px;
            }
        }

        &--product-items {
            &--title {
                position: relative;
                color: #595959;
                font-weight: 600;
                font-size: 14px;
                
                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50px;
                    right: 0;
                    content: '';
                    height: 1px;
                    background: #595959;
                }
            }
        }

        &--product-item {
            font-size: 14px;
            font-weight: 600;
            display: flex;

            &:not(:last-child)::before {
                content: '-';
                margin-right: 10px;
            }
        }
    }

    .sfa-list-box {
        min-width: 250px;
        background: #e6f7ff;
        padding: 15px;
        overflow: auto;

        .sfa-box-item {
            display: flex;
            justify-content: space-between;

            &--id {
                font-weight: 500;
            }

            &--quantity, &--duplicate {
                background: #f5222d;
                padding: 3px 5px;
                font-weight: 600;
                color: #fff;
                font-size: 12px;
                border: 2px solid #fff;
                border-radius: 3px;

                &.success {
                    background: #389e0d;
                }
            }

            + .sfa-box-item {
                margin-top: 5px;
                padding-top: 5px;
                border-top: 1px solid #d8d8d8;
            }

            &--owner {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-left: 12px;
                padding: 3px;
            }

            &--user {
                background: #389e0d;
                padding: 3px 5px;
                font-weight: 600;
                color: #fff;
                font-size: 12px;
                border: 2px solid #fff;
                border-radius: 3px;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .sfa-list-box {
            display: none;
        }
    }
}