
.container-load-down-pallets {
    border: 1px solid #bae7ff;
    border-radius: 3px;
    padding: 3px;

    .list-pallet {
        display: flex;
        overflow: visible;
        flex-direction: column;
    
        .pallet-item {

            display: none;
            overflow: visible;
            cursor: auto;
            padding: 5px;
            flex-direction: column;

            + .pallet-item {
                border: none;
                margin: 0;
            }

            .progress-pallet {
                width: 100%;
                font-size: 12px;
                font-weight: 600;
                margin-top: 10px;

                &--item {
                    display: flex;
                    align-items: center;

                    > [class|="text"] {
                        width: 20px;
                    }
                }

                .progress {
                    flex-grow: 1;
                    margin-left: 12px;
                    height: 7px;
                    border-radius: 0;
                }
            }

            .save-location-icon {
                color: #1BC5BD;
                cursor: pointer;
                transition: all 1s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &.selected {
                display: flex;
                background: #e0f4ff;
            }

            &--info {
                margin-left: 10px;
            }

            &--id {
                font-weight: 500;
            }

            &--quantity_box {
                color: #8c8c8c;
                font-size: 12px;
                line-height: 12px;
            }

            &--remove-pallet {
                color: #fff;
                background: #f5222d;
                display: flex;
                width: 15px;
                height: 15px;
                margin-left: auto;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                border-radius: 15px;
                cursor: pointer;
                line-height: 18px;
            }
        }
    }

    .select-pallet-type {

        width: 100%;
        margin-left: 120px;

        .form-group {
            margin-bottom: 0;
        }
    }
    
    @media screen and (max-width: 1024px) {
        .list-pallet {
            .pallet-item {
                display: none;
                flex-direction: row;
                min-height: 60px;
    
                &.selected {
                    display: flex;
                }
            }
        }

        height: auto;
    }
}