.target-boxes {
    background: #fafafa;
    flex-grow: 1;
    margin-top: 10px;
    border-radius: 3px;

    .invoice-item {
        & + .invoice-item {
            margin-top: 20px;
            max-height: 400px;
            overflow-y: auto;
        }

        .invoice-item-head {
            font-size: 20px;
            background: #fff;
            position: relative;
            text-transform: uppercase;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            .remove-btn {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                cursor: pointer;
                color: #f5222d;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .2s;
                
                &:hover {
                    background: rgba(245, 34, 45, .1);
                    font-size: 32px;
                }
            }
        }

        &__actions {
            background: #1890ff;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #fff;
        }

        &__sortBy--pallet {
            cursor: pointer;
            user-select: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .list-boxes {
        padding: 5px;
    }

    .box-data {
        font-size: 24px;
        padding: 5px 10px;
        border: 1px solid #bae7ff;
        justify-content: space-between;
        background: #fff;
        border-radius: 3px;

        + .box-data {
            margin-top: 10px;
        }

        &.success {
            background: #52c41a;
            color: #fff;
        }

        &.warning {
            background: #fadb14;
            color: #fff;
        }

        &__pallets {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 12px;
        }

        &__palletItem {
            background: #f5222d;
            border: 1px solid #fff;
            margin: 3px;
            padding: 2px;
            display: flex;
            align-items: center;

            svg {
                width: 25px;
                height: 15px;
            }
        }

        &__removePalletItem {
            cursor: pointer;
            transition: .2s;

            &:hover {
                transform: scale(1.2);
            }
        }

        &.selected {
            background: #1890ff;
        }
    }

    @media only screen and (max-width: 1025px) and (min-width: 768px) {
        .box-data {
            flex-direction: column;
        }
    }

    .list-group-pallet {
        padding: 5px;

        .pallet-group {
            padding: 5px;
            background-color: #fff;
            margin-top: 20px;

            &.hidden-body {
                .pallet-group__head {
                    border-bottom: 1px dashed #d8d8d8;
                }
            }

            &__head {
                font-size: 22px;
                border-bottom: 1px solid #d8d8d8;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 5px;

                &--location {
                    background: #1890ff;
                    color: #fff;
                    padding: 0 5px;
                    cursor: pointer;
                    user-select: none;
                    font-size: 16px;
                    font-weight: 500;
                }

                &--title {
                    font-weight: 500;
                }
            }
        }
    }
}