.modal-save-pallet {
    input, select {
        font-size: 18px !important;
        height: 60px;
    }

    .react-cm-select {
        font-size: 18px !important;
        input {
            height: 45px;
        }
    }

    .btn-large {
        font-size: 18px;
        min-width: 150px;
    }
    
    .select-lading-bill {
        .form-group {
            margin-bottom: 0;
        }
    }
}