.modal-add-box-to-lading-bill.show {
    .modal-content {
        height: calc(100vh - 100px);

        > div {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .modal-body {
            flex-grow: 1;
            position: relative;
            overflow-y: hidden;
        }

        .form-add-box-lading-bill {
            position: absolute;
            top: 1.75rem;
            bottom: 1.75rem;
            left: 1.75rem;
            right: 1.75rem;

            > div.mt-3 {
                height: calc(100% - 70px);
            }
        }

        .select-box-section > .row > div {
            max-height: 100%;
        }

        .box-list-for-select {
            overflow-y: auto;
        }
    }
}
