$width-container-icon: 9rem;
$height-container-icon: 8rem;
$width-icon: 4rem;
$height-icon: 4rem;
$color-blue: #2c84ff;
$color-red: #e61c19;
$color-green: #199f03;
$color-black: #14141e;
$width-modal: 750px;

.warehouse-card {
    display: flex;
    height: $height-container-icon;
    box-shadow: 1px 1px 15px #888888;

    &__amount {
        display: flex;
        align-items: center;
        justify-content: center;

        width: $width-container-icon;
        height: $height-container-icon;
        background-color: $color-blue;

        & > img {
            width: $width-icon;
            height: $height-icon;
        }
    }

    &__withdrawal {
        display: flex;
        align-items: center;
        justify-content: center;

        width: $width-container-icon;
        height: $height-container-icon;
        background-color: $color-red;

        & > img {
            width: $width-icon;
            height: $height-icon;
        }
    }

    &__balance {
        display: flex;
        align-items: center;
        justify-content: center;

        width: $width-container-icon;
        height: $height-container-icon;
        background-color: $color-green;

        & > img {
            width: $width-icon;
            height: $height-icon;
        }
    }

    &__bank {
        display: flex;
        align-items: center;
        justify-content: center;

        width: $width-container-icon;
        height: $height-container-icon;
        background-color: $color-black;

        & > img {
            width: $width-icon;
            height: $height-icon;
        }
    }
}

.warehouse-modal {
    min-width: $width-modal;
}
