.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    margin-right: 7px;
    position: relative;
    z-index: 2;
}
.card-label {
    color: #1964b6;
    font-size: 1.5rem;
    font-weight: 500;
}
