.shelve-item-card {
    display: flex;
    flex-direction: row;
    background: #bae7ff;
    padding: 10px;
    overflow: hidden;

    &.pallet-content {
        min-height: 300px;
    }

    + .shelve-item-card {
        margin-top: 20px;
    }

    .shelve-head {
        min-width: 200px;
    }

    .area-name {
        color: #fff;
        font-weight: 600;
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 2px 5px;
        background: #1890ff;
        position: absolute;
        top: 3px;
        left: 3px;
        white-space: nowrap;
    }

    .shelve-position {
        color: #fff;
        background: #f5222d;
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 2px 5px;
        position: absolute;
        top: 28px;
        left: 3px;
        white-space: nowrap;
        font-weight: 600;
    }

    .shelve-name {
        min-height: 120px;
        min-width: 100px;
        display: flex;
        align-items: flex-end;
        padding: 3px;
        border-radius: 3px;
        background: #fff;
        white-space: nowrap;

        .shelve-id {
            font-size: 56px;
            line-height: 1;
            font-weight: 600;
            flex-grow: 1;
            text-align: center;
        }
    }

    .shelve-floor {
        display: flex;

        + .shelve-floor {
            margin-top: 3px;
        }

        .floor-name {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 900;
            padding-right: 10px;
            position: relative;
            min-width: 50px;

            &::before {
                content: '';
                width: 8px;
                height: 1px;
                background: #000;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }

    .empty-data {
        flex-direction: row;

        &__text {
            margin-left: 10px;
            font-size: 14px;
        }

        &__icon {
            svg {
                width: 40px;
                height: 40px;
            }
        }
    }

    .shelve-content {
        padding: 3px;
        margin-left: 10px;
        overflow-x: auto;
    }
}